ENTRA_TENANT_ID=00000000-0000-0000-0000-000000000000
BLUEPRINT_CLIENT_ID=00000000-0000-0000-0000-000000000000
AGENT_IDENTITY_CLIENT_ID=00000000-0000-0000-0000-000000000000
SPA_CLIENT_ID=00000000-0000-0000-0000-000000000000
DOWNSTREAM_SCOPE=api://e8c77dc2-69b3-43f4-bc51-3213c9d915b4/MCP.User.Read.All api://e8c77dc2-69b3-43f4-bc51-3213c9d915b4/MCP.GroupMember.Read.All api://e8c77dc2-69b3-43f4-bc51-3213c9d915b4/MCP.Domain.Read.All api://e8c77dc2-69b3-43f4-bc51-3213c9d915b4/MCP.Device.Read.All api://e8c77dc2-69b3-43f4-bc51-3213c9d915b4/MCP.Group.Read.All
EXPECTED_DELEGATED_SCOPE=agent.invoke
MCP_SERVER_URL=https://mcp.svc.cloud.microsoft/enterprise
SPIFFE_JWT_AUDIENCE=api://AzureADTokenExchange
AGENT_MODE=user_context
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT=gpt-5.4-nano
AI_AGENT_SYSTEM_PROMPT=You are seasoned Entra ID Adminsitrator with access to Microosft MCP Server for Enterprise. Use the tools provided by that MCP server to assist the humans. Only **READ** operations are allowed! Answer only questions related to Entra ID!
